@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-graphik: var(--font-graphik);

  --color-base1: #671448;
  --color-base2: #00335B;
  --color-hover: #00335B;

  /* 320px */
  --breakpoint-4xs: 20rem;
  /* 384px */
  --breakpoint-3xs: 24rem;
  /* 448px */
  --breakpoint-2xs: 28rem;
  /* 576px */
  --breakpoint-xs: 36rem;
  /* 640px */
  --breakpoint-sm: 40rem;
  /* 768px */
  --breakpoint-md: 48rem;
  /* 1024px */
  --breakpoint-lg: 64rem;
  /* 1280px */
  --breakpoint-xl: 80rem;
  /* 1536px */
  --breakpoint-2xl: 96rem;
  /* 1920px */
  --breakpoint-3xl: 120rem;

  --breakpoint-gap: 15px;
  /* * */
  --breakpoint-gap-lg: 60px;
  /* 1024px */
  --breakpoint-gap-xl: 65px;
  /* 1280px */
  --breakpoint-gap-2xl: 70px;
  /* 1536px */
  --breakpoint-gap-3xl: 100px;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  /* 1920px */
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

}

body {
  font-family: var(--font-graphik), sans-serif;
}

.font-unna {
  font-family: var(--font-unna), serif;
}

@layer components {
  .container {
    @apply mx-auto px-[var(--breakpoint-gap)] lg:px-[var(--breakpoint-gap-lg)] xl:px-[var(--breakpoint-gap-xl)];
  }

  .btn-base1 {
    @apply text-[8px] xl:text-[10px] 2xl:text-[11px] 3xl:text-[15px] text-white font-medium flex items-center justify-center uppercase px-[15px] w-fit h-[25px] xl:h-[32px] 3xl:h-[50px] bg-base1 cursor-pointer rounded-[3px] transition-all duration-300 relative overflow-hidden;
  }

  .hover {
    @apply hover:bg-gradient-to-r hover:from-base1 hover:to-base2 hover:shadow-xl after:absolute after:inset-0 after:bg-gradient-to-r after:from-transparent after:via-white/20 after:to-transparent after:translate-x-[-100%] hover:after:translate-x-[100%] after:transition-transform after:duration-1000
  }

  p {
    @apply text-[12px] 2xl:text-[14px] 3xl:text-[18px] text-[#1E1E1E] font-normal mb-[25px] 2xl:mb-[30px] 3xl:mb-[40px]
  }

  .typography {
    &>* {
      @apply my-[10px] lg:my-[15px];
    }

    p,
    & {
      @apply text-[12px] 2xl:text-[14px] 3xl:text-[18px] text-[#1E1E1E] font-normal max-w-[75%] mb-[25px] 2xl:mb-[30px] 3xl:mb-[40px]
    }

    h1 {
      @apply text-[24px] lg:text-[36px] xl:text-[43px] 2xl:text-[48px] 3xl:text-[65px] font-semibold leading-tight text-black;
    }

    h2 {
      @apply text-[20px] lg:text-[26px] xl:text-[32px] 2xl:text-[44px] 3xl:text-[54px] font-semibold leading-tight text-black;
    }

    h3 {
      @apply text-[14px] lg:text-[16px] xl:text-[20px] 2xl:text-[26px] 3xl:text-[30px] font-semibold leading-tight text-black;
    }

    h5 {
      @apply text-[13px] lg:text-[14px] xl:text-[16px] 2xl:text-[20px] 3xl:text-[25px] font-semibold leading-tight text-black;
    }

    h6 {
      @apply 3xl:text-[20px] 2xl:text-[16px] xl:text-[13px] lg:text-[12px] text-[12px] font-semibold leading-tight text-black;
    }

    ul,
    ol {
      @apply pl-[20px] lg:pl-[30px];
    }

    ul>li,
    ol>li {
      @apply 3xl:text-[20px] 2xl:text-[16px] xl:text-[13px] lg:text-[12px] text-[12px] font-normal leading-normal text-[#2d2929] my-[10px] lg:my-[15px];
    }

    ul>li {
      @apply list-disc;
    }
  }

}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);

}

@layer base {
  * {
    @apply border-border outline-ring/50;

  }

  body {
    @apply bg-background text-foreground;

  }

}


@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 8s linear infinite;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background: #7baae0;
  /* replace with your color */
  will-change: transform;
  border-radius: 30px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0 grey;
  border-radius: 0px;
  background: rgb(168, 180, 198);
}

@media only screen and (min-width: 1024px) {

  .serviceSlider .swiper-slide-next>div,
  .serviceSlider .swiper-slide-prev>div {
    height: 225px;
  }
}

@media only screen and (min-width: 1280px) {

  .serviceSlider .swiper-slide-next>div,
  .serviceSlider .swiper-slide-prev>div {
    height: 280px;
  }
}

@media only screen and (min-width: 1536px) {

  .serviceSlider .swiper-slide-next>div,
  .serviceSlider .swiper-slide-prev>div {
    height: 340px;
  }
}

@media only screen and (min-width: 1920px) {

  .serviceSlider .swiper-slide-next>div,
  .serviceSlider .swiper-slide-prev>div {
    height: 420px;
  }
}

.consultantSlider {
  width: 820px !important;
  margin: auto !important;
}


.stickyHeader {
  position: fixed;
  top: 0;
  animation-name: fadeInDown;
  animation-duration: .8s;
  animation-fill-mode: both;
  background: #ffffffd1;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
  border: 0 !important;
  z-index: 9;
}